

header {
    display: block;
    padding: 2rem 0;
}

h1 {
    margin: 2rem 0 0 0;
}
h1, .subtitle{
    font-weight: 400;
    font-size: 1.5rem;
}

.logos {
    border-bottom: unset;
    padding: unset;
    height: unset;
}

.logos > img {
    height: 3rem;
}